@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

body {
    color: white;
    background-color: #383838;
    font-family: 'Roboto', sans-serif;
}

.hello {
    text-align: center;
    margin-top: 20px;
}

h1 {
    text-align: center;
}

main {
    background-color: #383838;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: #232320;
    height: 30px;
}

.footer {
    color: white;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: white;
}

header nav a {
    margin-right: 20px;
}

.input_field {
    display: block;
    border-radius: 15px;
    margin-left: 620px;
    margin-top: 20px;
    width: 200px;
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.btn_auth {
    margin: 10px;
    background-color: #232320;
    border-radius: 15px;
    border-color: white;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 30px;
}

.formLogin {
    text-align: center;
}

#exit_btn {
    margin: 10px;
    margin-left: 1300px;
    background-color: #232320;
    border-radius: 15px;
    border-color: white;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 100px;
    height: 30px;
}

#change_btn, #btn_changeArticle, #btn_del, #add_btn, #reg_btn {
    margin-top: 50px;
    background-color: #232320;
    border-radius: 15px;
    border-color: white;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 30px;
}

#btn_edit {
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    margin-top: 50px;
    margin-left: 615px;
    background-color: #232320;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    border-color: white;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    width: 200px;
    height: 30px;
}


main div .link {
    display: block;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    margin-top: 15px;
    margin-left: 1200px;
    background-color: #232320;
    border-radius: 15px;
    border-color: white;
    border-width: 5px;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
    width: 200px;
    height: 30px;
}

main div .article {
    display: block;
    margin-top: 30px;
    margin-left: 20px;
}

#textArea, #textAreaEdit {
    resize: none;
    width: 600px;
    height: 250px;
}

.article_text {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #232320;
    border-radius: 40px;
}

.users {
    margin: 30px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    border-radius: 30px;
    padding: 20px;
}

.link_btn {
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    margin-left: 1100px;
    background-color: #232320;
    border-radius: 15px;
    border-color: white;
    border-width: 3px;
    border-style: solid;
    -webkit-text-fill-color: white;
    font-family: 'Roboto', sans-serif;
}

.link_article {
    margin-top: 90px;
    margin-left: 30px;
    font-size: 20px;
}

.article_div {
    display: flex;
}