<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить статью</title>
    <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main>
    <form style="text-align: center" action="/add_article" method="post" >
        <input class="input_field" type="text" name="tittle" placeholder="Введите название">
        <input class="input_field" type="text" name="image" placeholder="Введите url изображения">
        <textarea id="textArea" class="input_field" name="text" placeholder="Введите текст статьи"></textarea>
        <button id="add_btn" type="submit">Добавить статью</button>
    </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>