<meta charset="UTF-8">
<title>Редактировать статью</title>
<link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<p class="hello" th:text="'Здравствуйте уважаемый ' + ${name} + ' !' " ></p>
<div th:replace="layouts/header :: header"></div>
<main class="index_main">
   <div style="text-align: center">
       <form class="form"  th:action="@{'/article/update/' + ${article.getId()}}" method="post">
           <input class="input_field" type="text" name="tittle" th:value="${article.getTittle()}">
           <input class="input_field" type="text" name="image" th:value="${article.getImage()}">
           <textarea id="textAreaEdit" class="input_field"  name="text" th:text="${article.getText()}"></textarea>
           <button id="btn_changeArticle"  type="submit">Внести изменения</button>
       </form>
   </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>