<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Личный кабинет</title>
  <link rel="stylesheet" th:href="@{main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="main">
  <div class="contact">
   <h1>Личный кабинет</h1>
      <h2 th:text="${data}" style="text-align: center; color: azure " ></h2>
    <form th:action="@{/logout}" method="post">
      <button id="exit_btn" type="submit">Выйти</button>
    </form>
        <div style="text-align: center">
      <form th:action="@{/user}" method="post">
          <input class="input_field" type="text" name="username" th:value="${user.getUsername()}" readonly>
          <input class="input_field" type="password" name="password" placeholder="Введите новый пароль">
          <input class="input_field" type="email" name="email" th:value="${user.getEmail()}" placeholder="Введите новый email">

          <label for="role_select">Выберите роль:</label>

          <select  name="roles" id="role_select">
              <option th:each="el : ${roles}" th:value="${el}" th:text="${el}"></option>
          </select>
          <button id="change_btn" type="submit">Изменить данные</button>
      </form>
  </div>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>